<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div class="container" id="notifications">
        <%= render @notifications %>
      </div>
    </div>
  </div>
</div>