<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      
      <div class="col-sm-2">
        <h6><strong>Evergym</strong></h6>
      </div>
      
      <div class="col-sm-2">
        <h6><strong>Trainers</strong></h6>
      </div>
      
      <div class="col-sm-2">
        <h6><strong>Hosting</strong></h6>
      </div>
      
      <div class="col-sm-2">
        <h6><strong>Guests</strong></h6>
      </div>
      
      <div class="col-sm-2"></div>
      
      <br>
      <br>
      <br>
      
      <div class="container">
        <hr>
        <div class="col-sm-2 pull-left">
          <p class="text-muted">&copy; 2017 Evergym, Inc.</p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="footer-nav col-sm-2">
          <ul>
            <li>Terms</li>
            <li>Privacy</li>
          </ul>
        </div>
      </div>
      
      
    </div>
  </div>
</footer>