<footer class="footer">
  <div class="container">
    <div class="row">
     
      <div class="col-sm-2">
        <h6><strong>Company</strong></h6>
      </div>
      
      <div class="col-sm-2">
        <h6><strong>How it works</strong></h6>
      </div>
      
      <div class="col-sm-2">
        <h6><strong>Learn</strong></h6>
      </div>
      
      <div class="col-sm-2">
        <h6><strong>Join</strong></h6>
      </div>
      
      <div class="col-sm-2">
        <h6><strong>Legal</strong></h6>
      </div>
      
      <div class="col-sm-2">
        <p class="text-muted">&copy; 2017 Evergym, Inc. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>