<div class="container pt-4 pb-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="alert alert-warning alert-dismissible d-none d-lg-block" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="alert-link"></span> This is the very beginning of your Listing!
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card d-md-block d-lg-block mb-4">
        <div class="card-body">
          <div class="container">
            <%= form_for @room do |f| %>

              <div class="row">
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Gym Type</label>
                    <%= f.select :room_type, [["Fitness Center", "Fitness Center"], ["Crossfit Box", "Crossfit Box"], ["Studio", "Studio"], ["Sports Training", "Sports Training"]],
                                  id: "room_type", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>
              </div>
              <div><%= f.submit "Create Listing", class: "btn btn-new" %></div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
